@import 'fonts.scss';
@import 'variables.scss';
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}  
a{
    text-decoration: none;
  cursor: pointer;
  color: $text-color;
}

body{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
   
}
h1{
    font-weight: 800;
}
p{
    font-weight: 500;
}
.body{
    background-color: $top-color;
    color: $text-color;
}
.p-color{
   color: $text-color;
}
.green-theme{
color: $main-color;

background-color: #e5f8d3;


}
.header{
    display: flex;
    justify-content: space-between; 
    
    &__main{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__theme{
    width: 80px;
    height: 36px;
    border-radius: 20px;
    background-color: $main-color;
    
    &_icon{
        width: 36px;
        height: 36px;  
        border-radius: 20px;
        background-color: $top-color;
      &_photo{
        background-image: url('../effects/icons8-главная-25.png');
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;
      }
    
    } 
}

    &__right{
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;
    }
    &__nav{
        display: flex;
        gap: 16px;
        height: 24px;
    }
    &__link{
        width: 24px;
        border-radius: 50%;
        transition: all 0.2s;
        
    
    }
    &__link:hover{
        background-color: rgb(168, 242, 151);
        transform: scale(1.1);
    }
    &__link:active{
        transform: scale(0.9);
    }

    .header__container{
        display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    align-items: center;
    flex-direction: column;
        &_bar1, &_bar2, &_bar3{
        width: 20px;
        height: 3px;
        background-color: $text-color;
        margin: 2px 0;
        transition: 0.4s;
        }
  
    }   
    &__popUp{
      position: relative;
    }  
    &__menu{  
        
         display: flex;
         gap: 16px;
         flex-direction: column;
         background-color: $top-color;
         width: 200px;
         border-radius: 20px;
         box-shadow: -6px 5px 20px #9ca3962c;
         padding: 36px;
        position: absolute;
        z-index: 2;
         right: 100%;
         &_hidden{
            display: none;
         }
         &_bar{
            font-size: $text-size;
        //   transition: color 1s;
          font-family: inherit;
          color: $text-color;
          position: relative;
        // transition: 2s;
        width: max-content;
         }
        &_bar::after{
            content: "";
            position: absolute;
            z-index: 2;
            bottom: -2px;
            left: 0;
            width: 0%;
            border: 0 solid white;
            transition: 0.3s;
         }
         &_bar:hover::after{
             color: $main-color;
            border: 1px solid $main-color;
            width: 100%;
         } 
        //  &_bar:hover{
        //     text-decoration: underline wavy;
        //         transform: translateX(15px);
        //       
        //  }
          &_bar:active{
            color: $additional-color;
            
         }
    } 
    }

    .header__theme_active_float{
        float: right;
    }
    .header_change .header__container_bar1 {
        transform: rotate(-45deg) ;
        transform-origin: center;
        position: absolute;
    } 
    .header_change .header__container_bar3 {
        opacity: 0;
    }
    .header_change .header__container_bar2 {
        transform: rotate(45deg) ;
        transform-origin: center;
        position: absolute;
    }
.main{
    display: flex;
    margin-top: 40px;
        
    &__left{
        &_info{
            display: flex;
            justify-content: space-between;
            &_button{
                border: none;
                font-size: $text2-size;
                width: 124px;
                height: 48px;
                color: $top-color;
                border-radius: 20px;
                background: $main-color;
                &_extra{
                    border: none;
                    font-size: $text2-size;
                    width: 124px;
                    height: 48px;
                    color: $top-color;
                    border-radius: 20px;
                    background: $additional-color;
                } 
                &_extra:active{
                background: $bg-hover-add;
                transform: scale(1.1);
                }
                &_extra:hover{
                    opacity: 0.8;
                }
            }
            &_button:active{
                background: $bg-hover-main;
                transform: scale(1.1);
            }
            &_button:hover{
                opacity: 0.8;
            }
           
        }
    }
    &__textInfo{
        // display: flex;
        // flex-wrap: wrap;
        &_title{
            font-size: $header-size-base;
            color: $main-color;
            font-family: inherit;
        }
        &_title::after{
            content: "your comfort";
            color: $text-color;
        }
        &_text{
            color: $text-color;
            font-family: inherit;
            font-size: $text2-size-base;
            line-height: 1.5;
        }
    } 
    &__group{
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__description{
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.60);
        box-shadow: 6px 6px 13.2px 0px rgba(96, 152, 45, 0.11);
        backdrop-filter: blur(2px);
        display: flex;
        height: 100px;
        // width: 30%;
        gap: 40px;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 1px;
        padding-bottom: 10px;
    &_info{
        display: flex;
        gap: 10px;
        flex-direction: column;
       &_header{
        font-family: inherit;
        font-size: $header3-size;
    } 
    &_header::after{
        content: "+";
        color: $main-color;
    }
    &_text{
        font-size: $text2-size;
        font-family: inherit;
        color: $text-color;
    }
    }
    
}
    &__photo{
        mask-image: url('../effects/Subtract_main.png');
        mask-repeat: no-repeat;
        mask-size: contain;
        // mask-position: center;
        // height: 550px;
        width: 880px;
        // transform: rotate3d(0, 1,0, -180deg);
}
&__header{
    font-size: $header-size;
    width: 80px;
    height: 20px;
}



}
