@import 'fonts.scss';
@import 'variables.scss';
@import "effects_header.scss";
@import "effects_main.scss";
@import "effects_green-theme.scss";
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}  
a{
    text-decoration: none;
  cursor: pointer;
  color: $text-color;
}

body{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    box-sizing: border-box;
   
}
h1{
    font-weight: 800;
}
p{
    font-weight: 500;
}

