@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
.header {
  display: flex;
  justify-content: space-between;
}
.header__main {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__theme {
  width: 80px;
  height: 36px;
  border-radius: 20px;
  background-color: #60982D;
}
.header__theme_icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #F4F4F4;
}
.header__theme_icon_photo {
  background-image: url("../effects/icons8-главная-25.png");
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.header__nav {
  display: flex;
  gap: 16px;
  height: 24px;
}
.header__link {
  width: 24px;
  border-radius: 50%;
  transition: all 0.2s;
}
.header__link:hover {
  background-color: rgb(168, 242, 151);
  transform: scale(1.1);
}
.header__link:active {
  transform: scale(0.9);
}
.header .header__container {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.header .header__container_bar1, .header .header__container_bar2, .header .header__container_bar3 {
  width: 20px;
  height: 3px;
  background-color: #09043E;
  margin: 2px 0;
  transition: 0.4s;
}
.header__popUp {
  position: relative;
}
.header__menu {
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: #F4F4F4;
  width: 200px;
  border-radius: 20px;
  box-shadow: -6px 5px 20px rgba(156, 163, 150, 0.1725490196);
  padding: 36px;
  position: absolute;
  z-index: 2;
  right: 100%;
}
.header__menu_hidden {
  display: none;
}
.header__menu_bar {
  font-size: 20px;
  font-family: inherit;
  color: #09043E;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.header__menu_bar::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: 0;
  width: 0%;
  border: 0 solid white;
  transition: 0.3s;
}
.header__menu_bar:hover::after {
  color: #60982D;
  border: 1px solid #60982D;
  width: 100%;
}
.header__menu_bar:active {
  color: #757872;
}

.header__theme_active_float {
  float: right;
}

.header_change .header__container_bar1 {
  transform: rotate(-45deg);
  transform-origin: center;
  position: absolute;
}

.header_change .header__container_bar3 {
  opacity: 0;
}

.header_change .header__container_bar2 {
  transform: rotate(45deg);
  transform-origin: center;
  position: absolute;
}

.main {
  display: flex;
  margin-top: 40px;
}
.main__left_info {
  display: flex;
  justify-content: space-between;
}
.main__left_info_button {
  border: none;
  font-size: 14px;
  width: 124px;
  height: 48px;
  color: #F4F4F4;
  border-radius: 20px;
  background: #60982D;
}
.main__left_info_button_extra {
  border: none;
  font-size: 14px;
  width: 124px;
  height: 48px;
  color: #F4F4F4;
  border-radius: 20px;
  background: #757872;
}
.main__left_info_button_extra:active {
  background: #767D70;
  transform: scale(1.1);
}
.main__left_info_button_extra:hover {
  opacity: 0.8;
}
.main__left_info_button:active {
  background: #497421;
  transform: scale(1.1);
}
.main__left_info_button:hover {
  opacity: 0.8;
}
.main__textInfo_title {
  font-size: 96px;
  color: #60982D;
  font-family: inherit;
}
.main__textInfo_title::after {
  content: "your comfort";
  color: #09043E;
}
.main__textInfo_text {
  color: #09043E;
  font-family: inherit;
  font-size: 24px;
  line-height: 1.5;
}
.main__group {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main__description {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 6px 6px 13.2px 0px rgba(96, 152, 45, 0.11);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  height: 100px;
  gap: 40px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1px;
  padding-bottom: 10px;
}
.main__description_info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.main__description_info_header {
  font-family: inherit;
  font-size: 36px;
}
.main__description_info_header::after {
  content: "+";
  color: #60982D;
}
.main__description_info_text {
  font-size: 14px;
  font-family: inherit;
  color: #09043E;
}
.main__photo {
  -webkit-mask-image: url("../effects/Subtract_main.png");
          mask-image: url("../effects/Subtract_main.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 880px;
}
.main__header {
  font-size: 64px;
  width: 80px;
  height: 20px;
}

.body {
  background-color: #F4F4F4;
  color: #09043E;
}

.p-color {
  color: #09043E;
}

.green-theme {
  color: #60982D;
  background-color: #e5f8d3;
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #09043E;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

p {
  font-weight: 500;
}/*# sourceMappingURL=effect.css.map */