$header-size-base: 96px;
$header-size-basic: 72px;
$header-size: 64px;
$header2-size: 48px;
$header3-size: 36px;
$header4-size: 32px;
$header5-size: 24px; 

$text2-size-base:24px;
$text-size: 20px;
$text2-size: 14px;
$text3-size: 12px;
$text4-size:16px;


$main-color: #60982D;
$bg-hover-main: #497421;
$bg-hover-add: #767D70;
$additional-color: #757872;
$text-color:#09043E;
$top-color:#F4F4F4;
$bg-gradient:linear-gradient(90deg, rgba(255, 255, 255, 0.00) 15.07%, rgba(125, 177, 78, 0.73) 62.67%, #5F9F25 99.95%), url(<path-to-image>), lightgray -4.071px -494.737px / 100% 345.017% no-repeat;
$review:#FFD70B;


$view-info: "../effects/Eye.png";
$view-hover: "./effects/hoverview.png";
$cart-img: "../effects/cart.png";
$arrow-left: "../effects/left.png";
$arrow-right: "../effects/right.png";